#!/bin/sh
########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################
exec /usr/bin/crunch-run -container-enable-networking=default -container-network-mode=host ${@}
