---
########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
#
# Please check https://doc.arvados.org/master/admin/config.html for
# documentation about the parameters configured here.
########################################################################
{%- if arvados.release == 'development' %}
# (Experimental) Restart services automatically when config file
# changes are detected. Only supported by `arvados-server boot` in
# dev mode.
AutoReloadConfig: {{ arvados.auto_reload_config }}
{%- endif %}

Clusters:
  {{ arvados.cluster.name }}:

    SystemRootToken: {{ arvados.cluster.tokens.system_root | yaml_encode }}
    ManagementToken: {{ arvados.cluster.tokens.management | yaml_encode }}

    ForceLegacyAPI14: {{ arvados.cluster.force_legacy_api14 }}

    API:
    {%- if 'API' in arvados.cluster %}
      {{ arvados.cluster.API | default('') | yaml(False) | indent(6) }}
    {%- endif %}

    Collections:
      BlobSigningKey: {{ arvados.cluster.secrets.blob_signing_key | yaml_encode }}
    {%- if 'Collections' in arvados.cluster %}
      {{ arvados.cluster.Collections | yaml(False) | indent(6) }}
    {%- endif %}

    TLS:
      Certificate: {{ arvados.cluster.tls.certificate | yaml_encode }}
      Key: {{ arvados.cluster.tls.key | yaml_encode }}
      Insecure: {{ arvados.cluster.tls.insecure }}

    Workbench:
      SecretKeyBase: {{ arvados.cluster.secrets.workbench_secret_key | yaml_encode }}
      SiteName: {{ arvados.cluster.name | upper }}
    {%- if 'Workbench' in arvados.cluster %}
      {{ arvados.cluster.Workbench | yaml(False) | indent(6) }}
    {%- endif %}

    {%- for section in [
        'AuditLogs',
        'Containers',
        'Git',
        'InstanceTypes',
        'Login',
        'Mail',
        'RemoteClusters',
        'SystemLogs',
        'Users',
        'Volumes'
      ]
    %}
      {%- if section in arvados.cluster %}
    {{ section }}:
      {{ arvados.cluster[section] | yaml(False) | indent(6) }}
      {%- endif %}
    {%- endfor %}

    ### DATABASE CONFIGURATION
    PostgreSQL:
      ConnectionPool: {{ arvados.cluster.database.connection_pool_max }}
      Connection:
        # All parameters here are passed to the PG client library in a connection string;
        # see https://www.postgresql.org/docs/current/static/libpq-connect.html#LIBPQ-PARAMKEYWORDS
        dbname: {{ arvados.cluster.database.name }}
        host: {{ arvados.cluster.database.host }}
        password: {{ arvados.cluster.database.password | yaml_encode }}
        user: {{ arvados.cluster.database.user }}
        client_encoding: {{ arvados.cluster.database.client_encoding }}
        {%- if arvados.cluster.database.extra_conn_params is defined %}
        {{ arvados.cluster.database.extra_conn_params | yaml(False) | indent(8) }}
        {%- endif %}

    ### SERVICES URLs
    Services:
    {%- for service in [
        'Composer',
        'Controller',
        'DispatchCloud',
        'GitHTTP',
        'GitSSH',
        'Health',
        'Keepbalance',
        'Keepproxy',
        'Keepstore',
        'Nodemanager',
        'RailsAPI',
        'SSO',
        'WebDAV',
        'WebDAVDownload',
        'WebShell',
        'Websocket',
        'Workbench1',
        'Workbench2',
      ]
    %}
      {%- if service in arvados.cluster.Services %}
      {{ service }}:
        {{ arvados.cluster.Services[service] | yaml(False) | indent(8) }}
      {%- endif %}
    {%- endfor %}
